<div ng-controller="projects.new" ng-init="setup()">
    <form name="projectForm">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Datos">
                <md-content class="md-padding">
                    <div ng-include src="'projects/data.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Productos">
                <md-content class="md-padding">
                    <div ng-include src="'projects/projectsProducts.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
        <div>
            <md-button ng-show=" !readOnlyMode" class="md-raised md-primary" ng-disabled="projectForm.$invalid || dataLoading || projectSaved " ng-click="save()">Guardar</md-button>
            <label ng-show="projectSaved">Guardado!</label>
        </div>
    </form>
    <md-tab data-ng-if="projectEditing.id!=null" label="Otros Productos">
        <md-content class="md-padding">
            <div ng-include src="'projects/otherProducts.html'"></div>
        </md-content>
    </md-tab>
    <md-tab data-ng-if="projectEditing.id!=null" label="Participantes">
        <md-content class="md-padding">
            <div ng-include src="'projects/participantes.html'"></div>
        </md-content>
    </md-tab>
    <md-tab data-ng-if="projectEditing.id!=null" label="Secretarías/Departamentos">
            <md-content class="md-padding">
                <div ng-include src="'projects/secretarias.html'"></div>
            </md-content>
        </md-tab>
</div>