<div ng-controller=projects.secretarias ng-init=setup()>
    <form name=secretariaForm>
        <div ng-show=" !readOnlyMode">
            <md-input-container>
                <label>Secretaria/Departamento</label>
                <md-select ng-model="secretariaEditing.secretaria" placeholder="Secretaría/Departamento">
                    <md-option><em>Ninguno</em></md-option>
                    <md-option value="{{secretaryshipDepartment.id}}" ng-repeat="secretaryshipDepartment in  parametrics['secretaryshipDepartment']">
                        {{  secretaryshipDepartment.name }}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button ng-click="agregarSecretaria()" class="md-raised md-primary" ng-disabled="secretariaForm.$invalid || dataLoading || secretariaEditing.secretaria == null">
                    {{secretariaEditingExisting ? 'Actualizar secretaria' : 'Guardar'}}
            </md-button>
            <label ng-show="secretariaSaved">Guardado!</label>
        </div>
        <div ng-show="readOnlyMode">
            <label ng-show="(projectEditing.secretarias|toArray).length == 0 ">No hay secretarias cargadas</label>
        </div>
        <div ng-show="projectEditing.secretarias!=null">
            <div>
                <h4><span>Secretarias de {{projectEditing.projectName}}</span></h4>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Secretaria</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="secretaria in projectEditing.secretarias">
                        <td>{{parametrics['secretaryshipDepartment'][secretaria.secretaria].name}}</td>
                        <td  ng-show=" !readOnlyMode">
                            <md-button  class="md-raised md-primary" ng-click="editSecretaria(secretaria)">Editar</md-button>
                            <md-button class="md-raised md-primary" ng-click=" eliminarSecretaria(secretaria)">Eliminar</md-button>
                        </td>
                </table>
            </div>
        </div>
    </form>
</div>