<div ng-init="setup()">
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container>
            <label>Tipo de Formación</label>
            <md-select ng-model="formationEditing.tipoDeFormacion" ng-change=tipoDeFormacionChanged() placeholder="Tipo de Formación">
                <md-option  value="{{tipoDeFormacion.id}}" ng-repeat="tipoDeFormacion in parametrics['tipoDeFormacion']" >
                    {{tipoDeFormacion.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Grado de Titulación</label>
            <md-select ng-model="formationEditing.gradoDeTitulacion" placeholder="Grado de Titulación">
                <md-option value="{{grado.id}}" ng-repeat="grado in parametrics['tipoDeFormacion'][formationEditing.tipoDeFormacion].gradoDeTitulacion">
                    {{ grado.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container>
            <label>Area de Formación</label>
            <md-select ng-model="formationEditing.degreeArea"  ng-change="degreeAreaChanged()" placeholder="Area de Formación">
                <md-option value="{{degreeArea.id}}" ng-repeat="degreeArea in parametrics['degreeArea']">
                    {{ degreeArea.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Disciplina</label>
            <md-select ng-model="formationEditing.career" placeholder="Disciplina">
                <md-option value="{{career.id}}" ng-repeat="career in parametrics['degreeArea'][formationEditing.degreeArea].careers">
                    {{ career.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row"  ng-show=" !readOnlyMode">
        <md-input-container flex="12">
            <md-select ng-model="formationEditing.formationCompleted" placeholder="Estado">
                <md-option ng-repeat="studiesState in studiesStates"  value="{{studiesState.value}}">
                    {{ studiesState.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" ng-show=" !readOnlyMode">
        <md-input-container ng-show="formationEditing.formationCompleted=='false'">
            <md-select  ng-model="formationEditing.scholarshipType" placeholder="Tipo de Beca">
                <md-option ng-repeat="scholarshipType in parametrics['scholarshipType']" value="{{ scholarshipType.id }}">
                    {{ scholarshipType.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="formationEditing.formationCompleted=='false'">
            <md-select  ng-model="formationEditing.scholarshipName" placeholder="Beca">
                <md-option value="{{scholarshipName.id}}" ng-repeat="scholarshipName in parametrics['scholarshipName']">
                    {{ scholarshipName.name }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="parametrics['scholarshipName'][formationEditing.scholarshipName].name=='Otra'">
            <label>Especificar Otra</label>
            <input name="otra" ng-model="formationEditing.otherScholarship">
        </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-show=" !readOnlyMode" ng-disabled="formationEditing.tipoDeFormacion==null || formationEditing.gradoDeTitulacion==null ||  formationEditing.formationCompleted==null" ng-click="addNewFormation()">
        {{formationEditingExisting ? 'Actualizar Formación' : 'Agregar Nueva Formación'}}
    </md-button>
    <md-button ng-show="formationEditingExisting" class="md-raised md-primary" ng-click="cancelEdition()">Cancelar</md-button>
    <label ng-show="formationSaved">Guardado!</label>
    <md-divider ng-show="researcherEditing.formations!=null && !readOnlyMode"></md-divider>
    <div ng-show="readOnlyMode">
    <label ng-show="(researcherEditing.formations|toArray).length == 0 ">No hay formaciones cargadas</label>
    </div>
    <div ng-show="researcherEditing.formations!=null">
        <div>
            <h4>
                <span>Formación de {{researcherEditing.name + " " + researcherEditing.surname}}</span>
            </h4>
        </div>
        <div>
            <table>
                <tr>
                    <th>Tipo de Formación</th>
                    <th>Grado de Titulación</th>
                    <th>Gran Area de Conocimiento</th>
                    <th>Carrera</th>
                    <th>Estado</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
                <tr ng-repeat="formation in researcherEditing.formations">
                    <td>{{parametrics['tipoDeFormacion'][formation.tipoDeFormacion].name}}</td>
                    <td>{{parametrics['tipoDeFormacion'][formation.tipoDeFormacion].gradoDeTitulacion[formation.gradoDeTitulacion].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].name}}</td>
                    <td>{{parametrics['degreeArea'][formation.degreeArea].careers[formation.career].name}}</td>
                    <td>
                        {{formation.formationCompleted == 'true' ? 'Terminada' : 'En curso'}}
                        <div ng-show="formation.formationCompleted == 'false'">
                            {{parametrics['scholarshipType'][formation.scholarshipType].name}} - {{ parametrics['scholarshipName'][formation.scholarshipName].name == 'Otra' ? formation.otherScholarship : parametrics['scholarshipName'][formation.scholarshipName].name}}
                        </div>
                    </td>
                    <td>{{formation.categorizationUniversity}}</td>
                    <td  ng-show=" !readOnlyMode">
                        <md-button  class="md-raised md-primary" ng-click="edit(formation)">Editar</md-button>
                        <md-button class="md-raised md-primary" ng-click=" deleteFormation(formation)">Eliminar</md-button>
                    </td>
            </table>
        </div>
    </div>
</div>